<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <!--<section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />-->
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="regionPattern" type="Chuye.Caching.CacheItemConfigurationSection, Chuye.Caching" />
  </configSections>
  <appSettings>
    <add key="cache:redis" value="ubuntu-16" />
  </appSettings>
  <regionPattern pattern="{region}-{key}" leaveDashForEmtpyRegion="true">
    <details>
      <add provider="Chuye.Caching.Redis.RedisCacheProvider"
           pattern="{region}-{key}"
           leaveDashForEmtpyRegion="true"
           readonly="false"
           maxExpiration="1" />
      <add provider="Chuye.Caching.Redis.RedisCacheProvider"
           region="region2"
           pattern="{region}-{key}"
           leaveDashForEmtpyRegion="true"
           readonly="true"
           maxExpiration="1" />
    </details>
  </regionPattern>
  <enyim.com>
    <!--<log factory="Enyim.Caching.NLogFactory, Enyim.Caching.NLogAdapter" />-->
    <memcached protocol="Text">
      <servers>
        <add address="ubuntu-16" port="11211" />
      </servers>
      <socketPool minPoolSize="2" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
      <transcoder type="Chuye.Caching.Memcached.NewtonsoftJsonTranscoder, Chuye.Caching.Memcached" />
    </memcached>
  </enyim.com>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>